

.page404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page404  img{ width:100%;}

.fourZeroFourBg{

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.fourZeroFourBg h1{
    font-size:80px;
}

.fourZeroFourBg h3{
    font-size:80px;
}

.link404{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contantBox404 {
    margin-top:-50px;
}
.textCenter {
    text-align: center;
}